
.banner__contents {
  margin-left: 30px;
  padding-top: 180px;
  margin: auto;
  width: 50%;
  text-align: center;
}
.app_image {
  height: 700px;
}
.banner__contents > h4 {
  color: orange;
  font-size: 28px;
  margin-bottom: 20px;
}
.banner__contents > h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.banner__contents > h3 {
  font-weight: 400;
}
.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.banner__button {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.banner__button:hover {
  transform: scale(1.07);
}
