.card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  padding: 15px;
  padding-top: 40px;
  height: 200px;
}
.card:hover {
  transform: scale(1.07);
}
.card > h2 {
  font-size: 28px;
  font-weight: 600;
}
.card > h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
.MuiSvgIcon-root {
}
