.customer {
  margin: auto;
  width: 70%;
  text-align: center;
}
.customers {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.customer-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.customer-info > h1 {
  color: orange;
  font-size: 28px;
  font-weight: 600;
}
.customer-image {
  height: 250px;
}
