.footer {
  margin: auto;
  width: 80%;
  padding-top: 60px;
}
/* .footer_header {
  font-weight: 600;
  font-size: 24px;
  position: relative;
  float: right;
} */
.footer_row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer_column > h1 {
  font-size: 18px;
  font-weight: 500;
  padding: 2px;
  color: darkorange;
}

.footer_column > p {
  font-size: 14px;
}
.footer_divider {
  height: 1px;
  background-color: black;
  margin-top: 20px;
}
.footer_left {
  display: flex;
}
.footer_left > img {
  width: 50px;
}
.footer_left > p {
  font-size: 18px;
  padding: 20px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}
