.header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
}
.header_logo {
  width: 180px;
  margin: 20px;
}
.header_white {
  background-color: lightgray;
}
.header_left {
  display: flex;
}
.header_tab {
  font-size: 20px;
  margin: 20px;
  padding-top: 15px;
}
.header_tab:hover {
  cursor: pointer;
  transform: scale(1.07);
}
.header_right {
  float: right;
  padding-top: 15px;
}
.header_right > button {
  padding: 13px;
  border-radius: 5px;
  border: none;
  margin-right: 25px;
  font-weight: bold;
}
.contact_btn {
  background-color: orange;
  color: white;
}
.login_btn {
  background-color: wheat;
}
.text-link {
  text-decoration: none !important;
  color: none;
}
