.psg_body {
  padding-top: 200px;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
}
.form_input {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
}
.psg_content {
  width: 50%;
  padding-right: 30px;
  margin-top: 30px;
}
.psg_form {
  width: 50%;
  background-color: rgba(244, 115, 53, 0.1);
  padding: 40px 20px 40px 20px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.submit-btn {
  margin-top: 13px;
  background-color: darkorange;
  padding: 13px;
  border-radius: 5px;
  border: none;
  margin-right: 25px;
  font-weight: bold;
}
.submit-btn:hover {
  transform: scale(1.07);
}
.psg_content > h1 {
  color: darkorange;
  font-weight: 500;
  margin-bottom: 20px;
}
.psg_content > p {
  margin-bottom: 20px;
}
.form_input > input,
select {
  border: none;
  border-bottom-style: groove;
  background-color: transparent;
  outline: none;
  height: 30px;
  margin-top: 10px;
}
